
#top {
    max-width: 1200px;
    margin: auto;
    padding: 200px 50px;

}
#top h1 {
    font-size: 3rem;
}
 #top h1, h2, button {
     margin-left: 100px;
     margin-top: 20px;
 }

#portrait {
    max-width: 300px;
}

#top button {
    color: aqua;
    border:2px solid aqua;
    background-color: white;
    padding: 5px 10px;
    border-radius: 2px;
}

#top button:hover {
    color: white;
    border:2px solid aqua;
    background-color: aqua;
}